nav{
    background-color: aquamarine;
    padding: 30px; 
    color: blue;
    
    
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
}
section{
    border: 30px solid red;
    margin-top: 20px;
    box-shadow:40px blue;

    
}